.measure {
  height: 8px;
  width: 400px;
  background: gray;
  margin: 16px 0;
}


section {
  margin: 16px 0;
}

p {
  line-height: 1.6;
}

h1 {
  line-height: 1.4;
  display: block;
}

.card-1, .card-2 {
  box-sizing: border-box;
  width: 400px;
}


.card-1 {
  padding: 0 15px;
  border: 1px solid grey;
  border-radius: 10px;
}
.card-1 h1 {
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid grey;
}


.card-2 {
  border: 1px solid black;
}
.card-underBox {
  padding: 0 15px;
}

.card-2 h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  background: black;
}